.formControl.error input,
.formControl.error textarea
{
    border: solid #e21680 2px;
}
.formControl.error span
{
    color: #e21680;
}
.formSummaryError {
    border: solid #e21680 2px;
    padding: 5px;
    color: #e21680;
}