.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: #1d8ac4;
}

.dialog {
}

.messages {
    padding: 10px;
}

.message {

}